.chat-container {
  background: radial-gradient(circle at top left, #910745,#8F0791, #4E0791);
  position: absolute;
  bottom: 0vh;
  left: 0vw;
  width: 100vw;
  height: 100vh;
  color: #ffffff;
  font-family: 'Segoe UI';
  min-height: 0;
}

.chat-box {
  position: absolute;
  bottom: 18vh;
  left: 1vw;
  width: 98vw;
  height: 65vh;
  overflow-y: scroll;
  overflow-x: hidden;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0.02) 0%, rgba(255, 255, 255, 0.2) 100% );
  border-radius: 5px;
  box-shadow: 2px 10px 5px rgba(0,0,0,0.2);
}

.chat-thread {
  min-height: 64vh;
  bottom: 0vh;
  position: relative;
  justify-content: flex-end;
  display: flex;
  flex-direction: column;
  white-space: normal;
  word-wrap: break-word;
  overflow-wrap: break-word;
}

.response {
}

.request {
  text-align: right;
  width: 100vw;
}

.chat-input {
  position: absolute;
  bottom: 10vh;
  width: 90vw;
  left: 1vw;
  background-color: transparent;
  border: none;
  min-height: 5vh;
  text-align: right;
  color: #E3C62D;
  font-family: 'Segoe UI';
  border-radius: 1vh;
  transition: 1s ease;
  padding: 1vh;
}

  .chat-input:focus {
    outline: none;
    border: none;
    background-color: rgb(45, 3, 54,0.5);
    box-shadow: 5px 2px 5px rgba(0,0,0,0.7);
  }

    .chat-input:focus::placeholder {
      opacity: 0;
    }


.fake-input::after {
  content: "typing.....";
  position: relative;
  color: #ffffff;
  z-index: 100;
  font-family: 'Segoe UI';
  left: 2vw;
  font-style: italic;
}

.footer-class {
  position: absolute;
  bottom: 0vh;
  right: 0vw;
  width: 100vw;
  height: 7vh;
  background-color: #910745;
}

.fade {
  opacity: 0;
  transition: 1s ease;
}


.my-name-class {
  position: absolute;
  font-size: 2vh;
  left: 46vw;
  top: 95vh;
  font-family: 'Segoe UI';
  font-weight: 200;
  color: #ffffff;
  z-index: 1000;
  transition: 1s ease;
}

.my-name-class-last {
  position: absolute;
  font-size: 2vh;
  left: 80vw;
  top: 95vh;
  font-family: 'Segoe UI';
  font-weight: 200;
  color: #ffffff;
  z-index: 1000;
  transition: 1s ease;
}


.logo-original-start {
  position: absolute;
  height: 25vh;
  left: 39.2vw;
  top: 25vh;
  transition: 1s ease;
}

.name-original-start {
  position: absolute;
  font-size: 5vh;
  left: 43vw;
  top: 55vh;
  font-family: 'Segoe UI';
  font-weight: 900;
  letter-spacing: 1vh;
  color: #ffffff;
  transition: 1s ease;
}

.logo-original-end {
  position: absolute;
  height: 4vh;
  left: 2vw;
  top: 2vh;
  transition: 1s ease;
}

.name-original-end {
  position: absolute;
  font-size: 4vh;
  left: 7vw;
  top: 1.6vh;
  font-family: 'Segoe UI';
  font-weight: 500;
  letter-spacing: -0.3vh;
  color: #ffffff;
  transition: 1s ease;
}

.header-container-start {
  position: absolute;
  top: 0vh;
  left: 0vh;
  height: 100vh;
  width: 100vw;
  z-index: 1000;
  background-color: #910745;
  transition: 1s ease;
}

.header-container-end {
  position: absolute;
  top: 0vh;
  left: 0vh;
  height: 10vh;
  width: 100vw;
  background-color: #910745;
  transition: 1s ease;
}

.user-name-class {
  position: absolute;
  right: 10vw;
  width: 15vw;
  top: 4vh;
  color: #fff;
  cursor: pointer;
  transition: 1s ease;
  text-align: center;
}

  .user-name-class #menuClass {
    transition: max-height 0.5s ease, opacity 0.5s ease;
    position: relative;
    top: 0vh;
    max-height: 0vh;
    opacity: 0;
    width: 15vw;
    border-end-end-radius: 20px;
    border-end-start-radius: 20px;
    background-color: #910745;
    padding: 2vh;
    box-shadow: 2px 2px 2px rgba(0,0,0,0.2);
  }

    .user-name-class #menuClass ul {
      opacity: 0;
      padding-left: 0;
      margin-left: 0;
      text-align: center;
    }

      .user-name-class #menuClass ul li {
        padding: 2vh;
        list-style-type: none;
        list-style: none;
        margin-bottom: 2vh;
        box-shadow: inset 5px 2px 10px rgba(255,255,255,0.15),5px 2px 10px rgba(0,0,0,0.15);
        border-radius: 5vh;
      }

        .user-name-class #menuClass ul li:hover {
          transform: scale(1.1);
          box-shadow: inset 5px 2px 10px rgba(255,255,255,0.2),5px 2px 10px rgba(0,0,0,0.2);
        }

  .user-name-class:hover #menuClass {
    max-height: 20vh;
    opacity: 1;
  }

    .user-name-class:hover #menuClass ul {
      opacity: 1;
    }

#countdown {
  position: absolute;
  right: 2vw;
  margin-top: 2vh;
  height: 7vh;
  width: 7vh;
  text-align: center;
  transition: 1s ease;
}

#countdown-number {
  color: white;
  display: inline-block;
  line-height: 7vh;
  font-size: 1.7vh;
}

svg {
  position: absolute;
  top: 0;
  right: 0;
  height: 7vh;
  width: 7vh;
  transform: rotateZ(-90deg);
}

  svg circle {
    stroke-dasharray: 18.3vh;
    stroke-dashoffset: 0px;
    stroke-linecap: round;
    stroke-width: 1vh;
    stroke: #198051;
    fill: none;
    animation: countdown 1800s linear infinite forwards;
  }
