.footer-class {
  position: absolute;
  bottom: 0vh;
  right: 0vw;
  width: 100vw;
  height: 7vh;
  background-color: #093a47;
}

.fade {
  opacity: 0;
  transition: 1s ease;
}


.my-name-class {
  position: absolute;
  font-size: 2vh;
  left: 46vw;
  top: 95vh;
  font-family: 'Segoe UI';
  font-weight: 200;
  color: #ffffff;
  z-index: 1000;
  transition: 1s ease;
}

.my-name-class-last {
  position: absolute;
  font-size: 2vh;
  left: 80vw;
  top: 95vh;
  font-family: 'Segoe UI';
  font-weight: 200;
  color: #ffffff;
  z-index: 1000;
  transition: 1s ease;
}


.logo-original-start {
  position: absolute;
  height: 25vh;
  left: 39.2vw;
  top: 25vh;
  transition: 1s ease;
  filter: invert(17%) sepia(50%) saturate(7400%) hue-rotate(154deg) brightness(95%) contrast(105%);
}

.name-original-start {
  position: absolute;
  font-size: 5vh;
  left: 43vw;
  top: 55vh;
  font-family: 'Segoe UI';
  font-weight: 900;
  letter-spacing: 1vh;
  color: #c1ebf2;
  transition: 1s ease;
}

.logo-original-end {
  position: absolute;
  height: 4vh;
  left: 2vw;
  top: 2vh;
  transition: 1s ease;
  filter: invert(17%) sepia(50%) saturate(7400%) hue-rotate(154deg) brightness(95%) contrast(105%);
}

.name-original-end {
  position: absolute;
  font-size: 4vh;
  left: 7vw;
  top: 1.6vh;
  font-family: 'Segoe UI';
  font-weight: 500;
  letter-spacing: -0.3vh;
  color: #c1ebf2;
  transition: 1s ease;
}

.header-container-start {
  position: absolute;
  top: 0vh;
  left: 0vh;
  height: 100vh;
  width: 100vw;
  z-index: 1000;
  background-color: #093a47;
  transition: 1s ease;
}

.header-container-end {
  position: absolute;
  top: 0vh;
  left: 0vh;
  height: 10vh;
  width: 100vw;
  background-color: #093a47;
  transition: 1s ease;
  z-index: 1000;
}

.user-name-class {
  position: absolute;
  right: 10vw;
  width: 12vw;
  top: 4vh;
  color: #fff;
  cursor: pointer;
  transition: 1s ease;
  text-align: center;
}

  .user-name-class #menuClass {
    transition: max-height 0.5s ease, opacity 0.5s ease;
    position: relative;
    top: 0vh;
    max-height: 0vh;
    opacity: 0;
    width: 12vw;
    border-end-end-radius: 20px;
    border-end-start-radius: 20px;
    /*background-color: #382e33;*/
    padding: 2vh;
    /*box-shadow: 2px 2px 2px rgba(0,0,0,0.2);*/
  }

    .user-name-class #menuClass ul {
      opacity: 0;
      padding-left: 0;
      margin-left: 0;
      text-align: center;
    }

      .user-name-class #menuClass ul li {
        padding: 1vh;
        list-style-type: none;
        list-style: none;
        margin-bottom: 1vh;
        background-color: #382e33;
        box-shadow: inset 5px 2px 10px rgba(255,255,255,0.15),5px 2px 10px rgba(0,0,0,0.15);
        border-radius: 2vh;
      }

        .user-name-class #menuClass ul li:hover {
          transform: scale(1.1);
          box-shadow: inset 5px 2px 10px rgba(255,255,255,0.2),5px 2px 10px rgba(0,0,0,0.2);
        }

  .user-name-class:hover #menuClass {
    max-height: 20vh;
    opacity: 1;
  }

    .user-name-class:hover #menuClass ul {
      opacity: 1;
    }

#countdown {
  position: absolute;
  right: 2vw;
  margin-top: 2vh;
  height: 7vh;
  width: 7vh;
  text-align: center;
  transition: 1s ease;
}

#countdown-number {
  color: white;
  display: inline-block;
  line-height: 7vh;
  font-size: 1.7vh;
}

svg {
  position: absolute;
  top: 0;
  right: 0;
  height: 7vh;
  width: 7vh;
  transform: rotateZ(-90deg);
}

  svg circle {
    stroke-dasharray: 18.3vh;
    stroke-dashoffset: 0px;
    stroke-linecap: round;
    stroke-width: 1vh;
    stroke: #198051;
    fill: none;
    animation: countdown 1800s linear infinite forwards;
  }

.circle-wrapper {
  top: 13vh;
  left: 5.15vw;
  position: absolute;
  border-radius: 15vh;
  height: 30vh;
  width: 30vh;
  background: url('../../assets/img/my-image.png');
  background-size: cover;
  z-index: 2;
}

.cicle-background {
  top: -4vh;
  left: 1.7vw;
  position: absolute;
  border-end-end-radius: 15vh;
  border-end-start-radius: 15vh;
  background-color: #8ea4cd;
  height: 50vh;
  width: 30vh;
  rotate: -45deg;
  z-index: 1;
}

.about-me-background {
  background: url('../../assets/img/background.png');
  position: absolute;
  top: 10vh;
  left: 0;
  height: 33vh;
  width: 100vw
}

.content-background {
  position: absolute;
  top: 42.5vh;
  left: 0vw;
  width: 100vw;
  height: 50.5vh;
  background: #243452;
  box-shadow:-5px -2px 10px rgba(0,0,0,0.8);
}

.about-me {
  font-family: 'Segoe UI';
  font-size: 2vh;
  position: absolute;
  top: 11vh;
  left: 22vw;
  text-align: justify;
  color: #2b3a63;
}

  .about-me .header {
    font-size: 3vh;
    font-weight: 400;
    margin-bottom: 2vh;
  }

  .about-me .body {
    width: 76vw;
    height: 25vh;
    overflow-y: scroll;
    padding-right: 1vw;
  }

.experience {
  font-family: 'Segoe UI';
  font-size: 2vh;
  position: absolute;
  top: 42.5vh;
  left: 0vw;
  padding-left: 2vw;
  padding-bottom: 1vh;
  text-align: justify;
  color: #edf1f7;
  width: 70vw;
  height: 50.5vh;
  overflow-y: scroll;
}

  .experience .header {
    font-size: 3vh;
    font-weight: 400;
    margin-top: 1vh;
  }

  .experience .header-2 {
    font-size: 2.5vh;
    font-weight: 300;
  }

  .experience .header-3 {
    font-size: 2.1vh;
    font-weight: 300;
    margin-bottom: 1vh;
  }

  .experience .body {
    height: 18vh;
    overflow-y: scroll;
    padding-right: 1vw;
    border-bottom: 1px #87721c solid;
  }

.skils {
  font-family: 'Segoe UI';
  font-size: 2vh;
  position: absolute;
  top: 45vh;
  left: 73vw;
  text-align: justify;
  color: #edf1f7;
  height: 45vh;
  overflow-y: scroll;
}

  .skils .header {
    font-size: 3vh;
    font-weight: 400;
    margin-top: 1vh;
    margin-bottom: 1vh;
  }

  .skils table {
    padding-left: 1vw;
  }

    .skils table tr td {
      padding: 0.2vh;
    }

      .skils table tr td div {
        min-width: 22vw;
        min-height: 0.3vh;
        margin-bottom: 0.4vh;
        border-radius: 0.2vh;
        background: #edf1f7;
      }

        .skils table tr td div .bar {
          padding: 0;
          margin: 0;
          height: 100%;
          min-width: 0;
          background: #87721c;
        }
