/* You can add global styles to this file, and also import other style files */
@keyframes blink {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}


/* Width of the scrollbar */
::-webkit-scrollbar {
  width: 4px;
}

/* Track (background) */
::-webkit-scrollbar-track {
  /*background: #1e1e1e;*/
  border-radius: 4px;
}

/* Thumb (the draggable part) */
::-webkit-scrollbar-thumb {
  background-color: #04020A;
  border-radius: 4px;
}

  /* Thumb on hover */
  ::-webkit-scrollbar-thumb:hover {
    background-color: #CDCBD4;
  }

body {
  font-family: 'Segoe UI';
}

body {
  height: 100%;
  width: 100%;
  /*background-color: #333;*/
}

@keyframes countdown {
  from {
    stroke-dashoffset: 0vh;
  }

  to {
    stroke-dashoffset: 18.3vh;
  }
}
