.login-container {
  position: absolute;
  top: 0vh;
  left: 0vw;
  height: 100vh;
  width: 100vw;
  background-color: #910745;
  transition: 1s ease;
}

.logo-original-start {
  position: absolute;
  height: 25vh;
  left: 39.2vw;
  top: 30vh;
  transition: 1s ease;
}

.name-original-start {
  position: absolute;
  font-size: 5vh;
  left: 43vw;
  top: 60vh;
  font-family: 'Segoe UI';
  font-weight: 900;
  letter-spacing: 1vh;
  color: #ffffff;
  transition: 1s ease;
}

.logo-original-end {
  position: absolute;
  height: 25vh;
  left: 39.2vw;
  top: 25vh;
  transition: 1s ease;
}

.name-original-end {
  position: absolute;
  font-size: 5vh;
  left: 43vw;
  top: 55vh;
  font-family: 'Segoe UI';
  font-weight: 900;
  letter-spacing: 1vh;
  color: #ffffff;
  transition: 1s ease;
}

.logo-original-last {
  position: absolute;
  height: 10vh;
  left: 46vw;
  top: 8vh;
  transition: 1s ease;
}

.name-original-last {
  position: absolute;
  font-size: 2.5vh;
  left: 47vw;
  top: 18vh;
  font-family: 'Segoe UI';
  font-weight: 900;
  letter-spacing: 0.3vh;
  color: #ffffff;
  transition: 1s ease;
}

.fade {
  opacity: 0;
}

.my-name-class {
  position: absolute;
  font-size: 2vh;
  left: 46vw;
  top: 95vh;
  font-family: 'Segoe UI';
  font-weight: 200;
  color: #ffffff;
  transition: 1s ease;
}

.login-module-start {
  position: absolute;
  height: 65vh;
  width: 30vw;
  left: 35vw;
  top: 35vh;
  border-radius: 5vh;
  background-color: #AB1558;
  transition: 1s ease;
  box-shadow: inset 5px 2px 30px rgba(255,255,255,0.15),5px 2px 30px rgba(0,0,0,0.15);
}

.login-module-end {
  position: absolute;
  height: 65vh;
  width: 30vw;
  left: 35vw;
  top: 25vh;
  border-radius: 5vh;
  background-color: #AB1558;
  transition: 1s ease;
  box-shadow: inset 5px 2px 30px rgba(255,255,255,0.15),5px 2px 30px rgba(0,0,0,0.15);
  text-shadow: 5px 2px 30px rgba(0,0,0,0.15);
}

.header-class {
  font-family: 'Segoe UI';
  position: relative;
  width: 100%;
  text-align: center;
  font-size: 2.5vh;
  top: 5vh;
  color: #ffffff;
  font-weight: 400;
}

.input-data {
  position: relative;
  left: 5vw;
  height: 5vh;
  width: 20vw;
  border-radius: 2.5vh;
  border: none;
  background-color: #BF2268;
  transition: 1s ease;
  text-align: center;
  font-family: 'Segoe UI';
  color: #ffffff;
  font-size:2vh;
}

  .input-data:focus {
    box-shadow: inset 5px 2px 30px rgba(255,255,255,0.3), 5px 2px 30px rgba(0,0,0,0.3);
    outline: none;
  }

  .input-data::placeholder {
    color: #ED72A9;
    font-family: 'Segoe UI';
  }

  .input-data:focus::placeholder {
      opacity:0;
  }

.user-input {
  top: 15vh;
}

.email-input {
  top: 20vh;
}

.login-button-high {
  position: relative;
  left: 10vw;
  top: 30vh;
  height: 6vh;
  width: 10vw;
  border: none;
  border-radius: 3vh;
  background-color: #2D0336;
  color: #ED72A9;
  font-family: 'Segoe UI';
  font-weight: bold;
  transition: 0.2s ease;
}

  .login-button-high:hover {
    top: 29vh;
    box-shadow: 5px 2px 5px rgba(0,0,0,0.3);
    transform: scale(1.2);
  }

.login-button-low {
  position: relative;
  left: 10vw;
  top: 35vh;
  height: 6vh;
  width: 10vw;
  border: none;
  border-radius: 3vh;
  background-color: #2D0336;
  color: #ED72A9;
  font-family: 'Segoe UI';
  font-weight: bold;
  transition: 0.2s ease;
}

  .login-button-low:hover {
    top: 29vh;
    box-shadow: 5px 2px 5px rgba(0,0,0,0.3);
    transform: scale(1.2);
  }

.spinner-low {
  position: relative;
  top: 20.5vh;
  width: 40px;
  height: 45px;
  border: 4px solid rgba(255, 255, 255, 0.2);
  border-top-color: #0ff; /* accent color */
  border-radius: 50%;
  animation: spin 0.8s linear infinite;
  margin: 16px auto; /* center horizontally */
  transition: 0.2s ease;
}

.spinner-high {
  position: relative;
  top: 20.5vh;
  width: 40px;
  height: 40px;
  border: 4px solid rgba(255, 255, 255, 0.2);
  border-top-color: #0ff; /* accent color */
  border-radius: 50%;
  animation: spin 0.8s linear infinite;
  margin: 16px auto; /* center horizontally */
  transition: 0.2s ease;
}

.error-class-up {
  position: relative;
  top: 15vh;
  width: 100%;
  text-align: center;
  color: #0ff;
  transition: 0.2s ease;
}

.error-class-down {
  position: relative;
  top: 20vh;
  width: 100%;
  text-align: center;
  color: #0ff;
  transition: 0.2s ease;
}

.name-error {
  color: #0ff;
  font-size: 14px;
  margin-top: 4px;
  position: relative;
  top: 15vh;
  width: 100%;
  text-align: center;
  transition: 0.2s ease;
}

.email-error {
  color: #0ff;
  font-size: 14px;
  margin-top: 4px;
  position: relative;
  top: 20vh;
  width: 100%;
  text-align: center;
  transition: 0.2s ease;
}

.input-data.user-input.ng-invalid.ng-touched {
  border: 1px solid #0ff;
}

.input-data.email-input.ng-invalid.ng-touched {
  border: 1px solid #0ff;
}

